fastapi==0.115.12
uvicorn[standard]==0.34.2
supabase==2.15.1
python-dotenv==1.1.0
httpx==0.28.1
python-jose[cryptography]==3.4.0
agno==1.5.0
mem0ai==0.1.97
groq==0.24.0
vecs==0.4.5
google_generativeai==0.8.5
google_genai==1.14.0
tavily_python==0.7.2
firecrawl==2.5.4
mcp==1.8.0
mistralai==1.7.0
pygithub==2.6.1
notte==1.4.4
lxml_html_clean==0.4.2
